In [1]:
import numpy as np
import pandas as pd

**Reading the data.**

In [2]:
dftr = pd.read_csv("../data/train.csv")
dftst = pd.read_csv("../data/test.csv")

**Changing index to PassengerId.**

In [3]:
dftr.set_index('PassengerId', inplace=True)
dftst.set_index('PassengerId', inplace=True)

**Checking the data**

In [4]:
dftr.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
dftr.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [6]:
dftr.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [7]:
dftr.skew()

Survived    0.478523
Pclass     -0.630548
Age         0.389108
SibSp       3.695352
Parch       2.749117
Fare        4.787317
dtype: float64

**Dropping the useless Columns**

In [8]:
drp = ['Name', 'Parch', 'Embarked', 'Ticket', 'Fare']
dftr.drop(drp, inplace=True, axis=1)

In [9]:
dftr.head()
dftr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Cabin     204 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 48.7+ KB

**Changing object types into simpler forms**

In [10]:
dftr['Sex'].replace(['female', 'male'], [0, 1], inplace=True)
dftst['Sex'].replace(['female', 'male'], [0, 1], inplace=True)
dftr['Cabin'] = dftr['Cabin'].astype(str)
dftst['Cabin'] = dftst['Cabin'].astype(str)

In [11]:
dftr.dtypes

Survived      int64
Pclass        int64
Sex           int64
Age         float64
SibSp         int64
Cabin        object
dtype: object

**Extracting Cabin letter from Cabin column**

In [12]:
def substrings_in_string(big_string, substrings):
    for substring in substrings:
        if str.find(big_string, substring) != -1:
            return substring
    return np.nan

In [13]:
cabin_list = ['A', 'B', 'C', 'D', 'E', 'F', 'T', 'G', 'Unknown']
dftr['Deck'] = dftr['Cabin'].map(lambda x: substrings_in_string(x, cabin_list))
dftst['Deck'] = dftst['Cabin'].map(lambda x: substrings_in_string(x, cabin_list))

In [14]:
dftr.head()

             Survived  Pclass  Sex   Age  SibSp Cabin Deck
PassengerId
1                   0       3    1  22.0      1   nan  NaN
2                   1       1    0  38.0      1   C85    C
3                   1       3    0  26.0      0   nan  NaN
4                   1       1    0  35.0      1  C123    C
5                   0       3    1  35.0      0   nan  NaN

**Dropping Cabin as it serve no further purpose and checking the null values**

In [15]:
dftr.drop('Cabin', inplace=True, axis=1)
dftst.drop('Cabin', inplace=True, axis=1)

In [16]:
dftr.head()
dftr.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Deck        687
dtype: int64

**Dealing with the null values**

In [17]:
dftr['Deck'] = dftr['Deck'].fillna('Unknown')
dftr.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Deck          0
dtype: int64

In [18]:
dftst['Deck'] = dftst['Deck'].fillna('Unknown')
dftst.isnull().sum()

Pclass       0
Name         0
Sex          0
Age         86
SibSp        0
Parch        0
Ticket       0
Fare         1
Embarked     0
Deck         0
dtype: int64

In [19]:
dftr.head()

             Survived  Pclass  Sex   Age  SibSp     Deck
PassengerId
1                   0       3    1  22.0      1  Unknown
2                   1       1    0  38.0      1        C
3                   1       3    0  26.0      0  Unknown
4                   1       1    0  35.0      1        C
5                   0       3    1  35.0      0  Unknown

In [20]:
dftr['Age'].interpolate(method='linear', inplace=True, limit_direction='both')
dftst['Age'].interpolate(method='linear', inplace=True, limit_direction='both')

In [21]:
dftr.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Deck        0
dtype: int64

**Checking cor bettween columns**

In [22]:
dftr['Age'].corr(dftr['Survived'])
dftr['Sex'].corr(dftr['Survived'])
dftr['Pclass'].corr(dftr['Survived'])

-0.3384810359610147

**Training**

In [23]:
dftr.head()

             Survived  Pclass  Sex   Age  SibSp     Deck
PassengerId
1                   0       3    1  22.0      1  Unknown
2                   1       1    0  38.0      1        C
3                   1       3    0  26.0      0  Unknown
4                   1       1    0  35.0      1        C
5                   0       3    1  35.0      0  Unknown

In [24]:
dftst.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Deck
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,Q,Unknown
893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,S,Unknown
894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,Q,Unknown
895,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,S,Unknown
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,S,Unknown

In [30]:
from sklearn import linear_model

regr = linear_model.Lasso(alpha=0.01)
y = dftr['Survived']
Features = ["Pclass", "Sex", "Age", 'Deck']
X = pd.get_dummies(dftr[Features])
X.drop('Deck_T', inplace=True, axis=1)
X_test = pd.get_dummies(dftst[Features])
regr.fit(X, y)

Lasso(alpha=0.01)

**Model Evaluation.**

,Pclass,Sex,Age,SibSp,Deck_A,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_Unknown
PassengerId,,,,,,,,,,,,
1,3,1,22.0,1,0,0,0,0,0,0,0,1
2,1,0,38.0,1,0,0,1,0,0,0,0,0
3,3,0,26.0,0,0,0,0,0,0,0,0,1
4,1,0,35.0,1,0,0,1,0,0,0,0,0
5,3,1,35.0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
887,2,1,27.0,0,0,0,0,0,0,0,0,1
888,1,0,19.0,0,0,1,0,0,0,0,0,0
889,3,0,22.5,1,0,0,0,0,0,0,0,1
890,1,1,26.0,0,0,0,1,0,0,0,0,0
891,3,1,32.0,0,0,0,0,0,0,0,0,1

**Predicting**

In [31]:
predictions = regr.predict(X_test)
predictions = np.round(predictions).astype(int)
predictions

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

***Saving output***

In [32]:
output = pd.DataFrame({'PassengerId': dftst.index, 'Survived': predictions})
output.to_csv('my_submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!